/*Start common css code*/


/*End common css code*/



.flag
{
    width: 100px;
    float: left;
    
   -webkit-transform: rotateY(40deg);
          transform: rotateY(40deg);
  -webkit-animation: flagshake 2s infinite;
          animation: flagshake 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes flagshake {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(50deg);
            transform: rotateY(50deg);
  }
}
@keyframes flagshake {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(50deg);
            transform: rotateY(50deg);
  }
}

.fonts b
{
    color: orange;
    text-shadow: 1px 1px black;
    font-size: 29px;
}

.col_padding .col-sm-4
{
    padding: 5px;
    padding-right: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}

 @media (max-width: 767px)
 {
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
}
}



.indianculture
{
    line-height: 3;
    font-size: 30px;
    font-family: sans-serif;
    text-shadow: 1px 1px 10px black;
    
    animation-name: indianculture;
    animation-duration: 2s;
    transform: scale(0);
    animation-iteration-count: infinite;
    
    transition: all 0.9s ease;

}

@keyframes indianculture
{
    0%
    {
        -webkit-transform: scale(0);
            transform: scale(0);
    }
  
    100%
    {
      -webkit-transform: scale(1);
            transform: scale(1);   
    }
}

.headName
{
    font-size: 50px;
    text-shadow: 1px 1px 10px black;
}

.AshokChakra
{
    width: 50px;
    height: 30px;
    transition: all 0.7s ease;
    
    animation: roll 5s infinite;
    transform: rotate(360deg);
}

@keyframes roll
{
    0%
    {
        transform: scale(0);
    }
    100%
    {
        transform: scale(1);
    }
}



/*12 08 2018*/

.tic-mainheading
{
    padding-bottom: 25px;
    color: #3F51B5;
    font-weight: 600;
}

.tic-culturalheading
{
    color: #3F51B5;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2;
    text-shadow: 2px 2px 2px #d6e0e4;
}

.tic-ddmenu
{
    overflow-y: scroll;
    height: 300px;
}

.tic-statelsheading, .tic-utlsheading, .tic-cenlsheading, .tic-stateddheading , .tic-utddheading
{
    color: #3F51B5;
    font-weight: 600;
}

.tic-stateddheading , .tic-utddheading
{
    padding: 0px 20px;
}

.tic-culturebox .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #FFC107;
    border: 1px solid #FFC107;
    border-bottom-color: transparent;
    font-weight: 600;
}

.tic-tabtitleheading h3
{
    color: #3F51B5;
    font-weight: 600;
    text-align: center;
    padding: 10px 0px 30px 0px;
    letter-spacing: 1px;
    font-size: 18px;
}

/*Start Footer*/

.tic-footercontent
{
    background: #00A552;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.tic-abtuslink ul
{
    list-style: none;
    padding: 0px;
}

.tic-abtuslink ul li a
{
    color: #fff;
    text-decoration: none;
}

.tic-abtuslink ul li a:hover
{
    color: #030721;
}

.tic-footercpyrt
{
    background: #55b759;
    padding-top: 10px;
    color: #fff;
}

.tic-mwlhearticon i
{
    color: #ff5722f2;
}
/*End Footer*/

/*Social Logo*/

.tic-socialicon a 
{
    color: #fff;
    padding: 5px;
    line-height: 2.5;
}

.tic-socialicon i
{
    width: 25px;
    height: 25px;
    border: 1px solid #2b335f;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    background: #2b335f;
    font-size: 12px;
}

.tic-socialicon i:hover
{
    background: #18303c;
}

.tic-footerheading
{
    font-size: 18px;
    color: #030721;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
}

.ic-animal .thumbnail img
{
    width: 100%;
    height: 223px;
}
/*29-07-2018*/
/*Animals*/


.heado {
padding: 10px;
}
.ic-imghovereffect img:hover
{
    transform: scale(1.2);
}

.ic-animal-front-image img {
    
    width: 100%;
    height: 299px;
    border: 2px solid black;
}

/*Cloths-pulsing*/





